<h1 class="text-2xl font-bold text-gray-700 mb-5">Expenses Summary</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {{range .Summaries}}
  {{ $colors := nameToColor .Category }}
  {{ if ne .Category "Unknown"}}
  <div class='{{index $colors "bg" }} {{index $colors "txt" }} shadow-md rounded-lg border border-gray-300 p-5'>
    <h2 class="text-xl font-semibold"><strong class="">{{.Category}}</strong> </h2>
    <p class="mt-2">Total: ${{printf "%.2f" .Total}}</p>
    <p class="mt-2">Count: {{.Count}}</p>
  </div>
  {{end}}
  {{end}}
</div>
