<!-- {{ .Expenses }} -->
<!-- component -->
<div class="p-10 items-center justify-center">
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-xl">
      <thead>
        <tr class="bg-blue-gray-100 text-gray-700">
          <th class="py-3 px-4 text-left">Date</th>
          <th class="py-3 px-4 text-left">Product</th>
          <th class="py-3 px-4 text-left">Category</th>
          <th class="py-3 px-4 text-left">Price</th>
          <th class="py-3 px-4 text-left">Action</th>
        </tr>
      </thead>
      <tbody class="text-blue-gray-900">
       {{range .Expenses}}
	    <tr class="border-b border-blue-gray-200">
	      <td class="py-3 px-4">{{.Date}}</td>
	      <td class="py-3 px-4">{{.Product}}</td>
	      <td class="py-3 px-4">${{printf "%.2f" .Price}}</td>
          <td class="py-3 px-4">
            {{ $colors := nameToColor .Category }}
            <span class='{{index $colors "bg" }} {{index $colors "txt" }} text-sm font-medium me-2 px-2.5 py-0.5 rounded'>{{.Category}}</span>
          </td>
	      <td class="py-3 px-4">
	        <a href="#" class="font-medium text-blue-600 hover:text-blue-800">Edit</a>
	      </td>
	    </tr>
	    {{end}}
      </tbody>
    </table>
  </div>
</div>
