.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.user-display-name:not(:last-child)::after {
  content: "|"; /* Insert your desired character */
  margin: 0 5px; /* Adjust spacing as needed */
  color: red; /* Adjust color as needed */
}

.user-display-name{ color: red;}

body {
  background-color=#fff7ed;
}
