.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

* {
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
}
body {
    margin: 0;
    padding: 15px;
    background-color: #f3f4f7;
}
form {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    padding: 40px 40px 60px;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form h1 {
    margin: 10px 0 5px;
    font-size: 24px;
    font-weight: 500;
    color: #474b50;
}
form label {
    margin: 25px 0 10px;
    font-weight: 500;
    color: #474b50;
}
