<div class="p-5 m-0 flex">
  <div id="#n26importer" hx-get="/importers/n26" hx-trigger="revealed" hx-target="this" hx-swap="outerHTML">
  </div>
  <div id="#revolutImporter" hx-get="/importers/revolut" hx-trigger="revealed" hx-target="this" hx-swap="outerHTML">
  </div>
</div>
<div class="p-5 m-0">
  <div id="table" hx-get="/importers/table" hx-trigger="revealed" hx-target="this" hx-swap="outerHTML">
  </div>
</div>
<script>
  // Function to initialize select2
  function initializeSelectImport() {
    $('.js-example-basic-multiple').select2({
      theme: "classic"
    });
  }
  // Initialize select2 after htmx from:body load
  document.body.addEventListener('htmx:load', function (event) {initializeSelectImport();});
</script>

