<div id="table" hx-get="/importers/table" hx-trigger="reloadImportTable from:body" hx-target="this" hx-swap="outerHTML">
  <div class="overflow-x-auto">
    <span class="ml-2 text-xl text-gray-700">{{ .ExpensesCount }} Uncatalogged expenses</span>
    <br>
    <span class="ml-2 text-md text-gray-500">Expenses will appear in this section when imported for you to manually set
      a
      category.</span>
    <button id="applyAll" class="float-right m-2 mb-3 font-medium text-blue-600 hover:text-blue-800">
      Apply all
    </button>
    <button hx-get="/importers/table" hx-target="#table"
      class="float-right m-2 mb-3 font-medium text-pink-600 hover:text-pink-800">
      Refresh
    </button>
    <table class="min-w-full bg-white border shadow-md rounded-xl border-gray-200">
      <thead class="rounded-full">
        <tr class="bg-slate-100 text-gray-700 rounded-lg ">
          <th class="px-4 py-3 text-left">Date</th>
          <th class="px-4 py-3 text-left">Shop</th>
          <th class="px-4 py-3 text-left">Product</th>
          <th class="px-4 py-3 text-left">Category</th>
          <th class="px-4 py-3 text-left">Amount</th>
          <th class="px-4 py-3 text-left">Action</th>
        </tr>
      </thead>
      <tbody class="text-blue-gray-900 animate__headShake animate__animated">
        {{ $categories := .Categories }}
        {{range .Expenses}}
        <tr id="editRow{{.ID}}"
          class="border-b border-blue-gray-100 bg-blue-100 bg-gray-100 fade-me-out animate__animated">
          <td class="py-0 px-2">
            <input class="bg-gray-50 px-2 rounded-md" type="date" id="date" name="date"
              value='{{ .Date.Format "2006-01-02" }}'>
          </td>
          <td class="py-0 px-4">
            <input class="bg-gray-50 px-2 rounded-md" type="text" id="shop" name="shop" value="{{ .Shop }}">
          </td>
          <td class="py-0 px-4">
            <input class="bg-gray-50 px-2 rounded-md" type="text" id="product" name="product" value="{{ .Product }}">
          </td>
          <td class="py-0 px-4">
            <select id="category" name="category"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 border-blue-500 block w-full p-1">
              {{ $current := .Category }}
              {{ range $id, $name := $categories }}
              {{ if eq $current $name}}
              <option value="{{$id}}" selected>{{$name}}</option>
              {{else}}
              <option value="{{$id}}">{{$name}}</option>
              {{end}}
              {{end}}
            </select>
          </td>
          <td class="p-0 px-4">
            $ <input class="w-24 px-1 border border-gray-300 rounded-md" type="number" min="0" id="amount" name="amount"
              value='{{printf "%.2f" .Amount}}'>
          </td>
          <td class="py-0 px-0 pb-0 mb-0 h-full flex float justify-center items-center">
            <button id="apply-{{.ID}}" hx-trigger="click"
              class="border border-green-300 p-1 w-full font-medium bg-green-200 text-green-500 hover:text-green-800">
              <i class='bx bx-check'></i> </button>
            <div hx-put="/expenses/{{.ID}}" hx-swap="innerHTML" hx-target="#mitoast"
              hx-include="#editRow{{.ID}} input, #editRow{{.ID}} select"
              hx-trigger="click from:#applyAll, click from:#apply-{{.ID}}">
            </div>
            <div hx-get="/expenses/{{.ID}}/row" hx-swap="outerHTML" hx-target="#editRow{{.ID}}"
              hx-trigger="click from:#applyAll, click from:#apply-{{.ID}}"> </div>
            <!-- <button -->
            <!--   class="border border-red-300 p-1 h-full w-full font-medium bg-red-200 text-red-500 hover:text-red-800" -->
            <!--   hx-swap="innerHTML" hx-delete="/expenses/{{.ID}}" hx-target="#mitoast" _="on htmx:confirm(issueRequest) -->
            <!--  halt the event -->
            <!--  call Swal.fire({title: 'Confirm', text:'Delete expense. Are you sure ?'}) -->
            <!--  if result.isConfirmed toggle .animate__fadeOut on #editRow{{ .ID }} then wait 1s then issueRequest()"> -->
            <!--   <i class='bx bx-trash'></i> -->
            <!-- </button> -->
            <button id="deleteButton{{.ID}}"
              class="border border-red-300 p-1 h-full w-full font-medium bg-red-200 text-red-500 hover:text-red-800"
              hx-swap="innerHTML" hx-delete="/expenses/{{.ID}}" hx-target="#mitoast"
              _="on htmx:confirm(issueRequest)
             halt the event
             call Swal.fire({title: 'Confirm', text:'Delete expense. Are you sure ?'})
             if result.isConfirmed toggle .animate__fadeOut on #editRow{{.ID}} then wait 1s then issueRequest()">
              <i class='bx bx-trash'></i>
            </button>
            <div hx-trigger="deletedExpense-{{.ID}} from:body" hx-get="/empty"
              hx-target="#editRow{{.ID}}"></div>

          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <br>
  <div class="flex flex-col items-center">
    <span class="text-sm text-gray-700 dark:text-gray-400">
      Showing page <span class="font-semibold text-gray-900 dark:text-white">{{.CurrentPage}}</span> (<span
        class="font-semibold text-gray-900 dark:text-white">{{.PageSize}}</span> Entries)
    </span>
    <div class="inline-flex mt-2 xs:mt-0">
      <button hx-get="/importers/table?page_num={{.PrevPage}}" hx-swap="outerHTML" hx-target="#table"
        hx-include="#filters input, #filters select" hx-push-url="true"
        class="flex items-center justify-center px-4 h-10 text-base font-medium text-white rounded-s {{ if eq .CurrentPage 0 }} bg-gray-500 {{else}} hover:bg-indigo-900 bg-indigo-500 {{end}}"
        {{ if eq .CurrentPage 0 }} disabled {{end}}>
        <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 5H1m0 0 4 4M1 5l4-4" />
        </svg>
        Prev
      </button>
      <button hx-get="/importers/table?page_num={{ .NextPage }}" hx-swap="outerHTML" hx-target="#table"
        hx-include="#filters input, #filters select" hx-push-url="true"
        class="flex items-center justify-center px-4 h-10 text-base font-medium text-white border-0 border-s border-gray-700 rounded-e {{ if eq .CurrentPage .TotalPages }} bg-gray-500 {{else}} hover:bg-indigo-900 bg-indigo-500 {{end}}"
        {{ if eq .CurrentPage .TotalPages }} disabled {{end}}>
        Next
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </button>
    </div>
  </div>
</div>
