<div class="p-10 items-center justify-center">
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-xl">
      <thead>
        <tr class="bg-blue-gray-100 text-gray-700">
          <th class="py-3 px-4 text-left">Date</th>
          <th class="py-3 px-4 text-left">Description</th>
          <th class="py-3 px-4 text-left">Category</th>
          <th class="py-3 px-4 text-left">Price</th>
          <th class="py-3 px-4 text-left">Action</th>
        </tr>
      </thead>
      <tbody class="text-blue-gray-900">
        {{range .Expenses}}
        <tr hx-target="this" hx-swap="outerHTML" class="border-b border-blue-gray-200">
          <td class="py-3 px-4">{{.Date}}</td>
          <td class="py-3 px-4">{{.Product}}</td>
          <td class="py-3 px-4">${{printf "%.2f" .Price}}</td>
          <td class="py-3 px-4">
            {{ $colors := nameToColor .Category }}
            <span
              class='{{index $colors "bg" }} {{index $colors "txt" }} text-sm font-medium me-2 px-2.5 py-0.5 rounded'>{{.Category}}</span>
          </td>
          <td class="py-3 px-4">
            <button hx-get="/expenses/{{ .ID }}/edit" hx-url-push="true"  class="font-medium text-blue-600 hover:text-blue-800">Edit</button>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
<!-- Pagination -->
<div class="flex flex-col items-center">
  <!-- Help text -->
  <span class="text-sm text-gray-700 dark:text-gray-400">
    Showing page <span class="font-semibold text-gray-900 dark:text-white">{{ .CurrentPage }}</span> (<span class="font-semibold text-gray-900 dark:text-white">{{ .PageSize }}</span> Entries)
  </span>
  <div class="inline-flex mt-2 xs:mt-0">
    <!-- Buttons -->
    <button hx-get="/expenses?days_from=190&page_num={{ .PrevPage }}"
      hx-swap="innerHTML" hx-target="#contenido" hx-push-url="true"
                                                 class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" {{ if eq .CurrentPage 0 }} disabled {{end}}>
      <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M13 5H1m0 0 4 4M1 5l4-4" />
      </svg>
      Prev
    </button>
    <button hx-get="/expenses?days_from=190&page_num={{ .NextPage }}" hx-swap="innerHTML" hx-target="#contenido"
      hx-push-url="true"
      class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
      Next
      <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9" />
      </svg>
    </button>
  </div>
</div>

