<tr id="addRow" class="border-b border-blue-gray-200 shadow-lg bg-blue-100 fade-me-out">
  <td class="py-0 px-2">
    <input class="bg-gray-50 px-2 rounded-md" type="date" id="date" name="date" value="">
  </td>
  <td class="py-0 px-4">
    <input class="bg-gray-50 px-2 rounded-md" type="text" id="shop" name="shop" value="">
  </td>
  <td class="py-0 px-4">
    <input class="bg-gray-50 px-2 rounded-md" type="text" id="product" name="product" value="">
  </td>
  <td class="py-0 px-4">
    <select id="category" name="category"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 border-blue-500 block w-full p-1">
      {{ $current := .Expense.Category }}
      {{ range $id, $name := .Categories }}
      {{ if eq $id "unknown"}}
      <option value="{{$id}}" selected>{{$name}}</option>
      {{else}}
      <option value="{{$id}}">{{$name}}</option>
      {{end}}
      {{end}}
    </select>
  </td>
  <td class="p-0 px-4">

    <select id="usersAdd" style="width: 75%"
      class="js-example-basic-multiple bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 border-blue-500 block w-full"
      name="users[]" multiple="multiple">
      {{ range $id, $user := .Users }}
      <option value="{{$id}}">{{$user.DisplayName}}</option>
      {{end}}
    </select>
  </td>
  <td class="p-0 px-4">
    $ <input class="w-20 px-1 border border-gray-300 rounded-md" type="number" min="0" id="amount" name="amount"
      value=''>
  </td>
  <td class="p-2 mb-0 h-full flex float justify-center items-center">
    <button id="apply" hx-trigger="click"
      class="border border-green-300 p-1 w-full font-medium bg-green-200 text-green-500 hover:text-green-800"><i
        class='bx bx-check'></i> </button>
    <div hx-post="/expenses" hx-swap="innerHTML" hx-target="#mitoast" hx-include="#addRow input, #addRow select"
      hx-vals="js:{users: $('#usersAdd').select2('data').map(function(item){return item.id}).join(',')}"
      hx-trigger="click from:#apply"> </div>
    <button id="cancel" hx-get="/empty" hx-target="#addRow" hx-swap="innerHTML"
      class="border border-red-300 p-1 h-full w-full font-medium bg-red-200 text-red-500 hover:text-red-800"><i
        class='bx bx-x'></i></button>
  </td>
</tr>
