<tr hx-swap="outerHTML" class="border-b border-blue-gray-200">
  <form hx-put="/expenses/{{ .Expense.ID }}" hx-target="this" hx-swap="outerHTML">
    <td class="py-3 px-4">
      <input class="bg-gray-50 p-2.5 rounded-md" type="date" name="date" value="{{.Expense.Date}}">
    </td>
    <td class="py-3 px-4">
      <input class="bg-gray-50 p-2.5 rounded-md" type="text" name="" value="{{ .Expense.Product}}">
    </td>
    <td class="py-3 px-4">
      <input class="bg-gray-50 p-2.5 lg rounded-md" type="number" min="0" name="price"
        value='{{printf "%.2f" .Expense.Price}}'>
    </td>
    <td class="py-3 px-4">
      <select id="categories"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 border-blue-500 block w-full p-2.5">
        {{ $current := .Expense.Category }}
        {{ range $id, $name := .Categories }}
        {{ if eq $current $name}}
        <option value="{{ $id}}" selected>{{$name}}</option>
        {{else}}
        <option value="{{ $id}}">{{$name}}</option>
        {{end}}
        {{end}}
      </select>
    </td>
    <td class="py-3 px-4">
      <button hx-get="/expenses/{{ .Expense.ID }}/edit"
        class="font-medium text-blue-600 hover:text-blue-800">Apply</button>
      <button hx-get="/expenses/{{ .Expense.ID }}/edit"
        class="font-medium text-red-600 hover:text-red-800">Cancel</button>
    </td>
  </form>
