<!-- Table -->
<div id="table" hx-get="/expenses/table" hx-trigger="reloadExpensesTable from:body" hx-target="this"
  hx-swap="outerHTML">
  <div class="overflow-x-auto">
    <div id="tableButtons" class="md:block hidden">
      <button hx-get="/expenses/table?page_num={{ .PrevPage }}" hx-swap="outerHTML" hx-target="#table"
        hx-include="#filters input" hx-vals='js:{categories: getSelectedCategories(), users: getFilteredUsers()}'
        class="float-left m-2 mb-3 font-medium {{ if eq .CurrentPage 0 }} text-gray-500 {{else}} hover:text-indigo-900 text-indigo-500 {{end}}"
        {{ if eq .CurrentPage 0 }} disabled {{end}}>
        Prev
      </button>
      <button hx-get="/expenses/table?page_num={{ .NextPage }}" hx-swap="outerHTML" hx-target="#table"
        hx-include="#filters input" hx-vals='js:{categories: getSelectedCategories(), users: getFilteredUsers()}'
        class="float-left m-2 mb-3 font-medium {{ if eq .CurrentPage .TotalPages }} text-gray-500 {{else}} hover:text-indigo-900 text-indigo-500 {{end}}"
        {{ if eq .CurrentPage .TotalPages }} disabled {{end}}>
        Next
      </button>
      <span class="float-right m-2 mb-3 font-medium text-gray-500 hover:text-blue-400">)</span>
      <a class="float-right m-2 mb-3 font-medium text-gray-500 hover:text-blue-400" href="/export/csv"
        hx-target="#mitoast" hx-swap="innerHTML">
        <i class='bx bx-export'></i> CSV
      </a>
      <span class="float-right m-2 mb-3 font-medium text-gray-500 hover:text-blue-400">|</span>
      <a class="float-right m-2 mb-3 font-medium text-gray-500 hover:text-blue-400" href="/export/json"
        hx-target="#mitoast" hx-swap="innerHTML">
        <i class='bx bx-export'></i> JSON
      </a>
      <span class="float-right m-2 mb-3 font-medium text-gray-500 hover:text-blue-400">(</span>
      <button class="float-right m-2 mb-3 font-medium text-blue-500 hover:text-blue-400" hx-get="/expenses/add"
        hx-target="#addRow" hx-swap="outerHTML">
        <i class='bx bx-plus-medical'></i>New Expense
      </button>
      <button id="applyAll" class="float-right m-2 mb-3 font-medium text-indigo-600 hover:text-indigo-500"
        hx-trigger="click">
        <i class='bx bx-edit-alt'></i>Apply all
      </button>
      <button id="editAll" class="float-right m-2 mb-3 font-medium text-teal-600 hover:text-teal-500"
        hx-trigger="click">
        <i class='bx bx-edit-alt'></i>Edit all
      </button>
      <div class="float-right m-2 mb-3">
        <span class="text-sm text-gray-700 dark:text-gray-400">
          Showing page <span class="font-semibold text-gray-900 dark:text-white">{{ .CurrentPage }}/{{ .TotalPages
            }}</span>
          (<span class="text-sm font-semibold text-gray-900-white">{{ .PageSize }}</span> entries)
        </span>
      </div>
    </div>
    <div class="float-right m-2 mb-3 md:hidden block">
      (<span class="text-sm font-semibold text-gray-900-white">{{ .PageSize }}</span> entries)
      </span>
    </div>
    <table class="min-w-full border bg-neutral-50 shadow-md border-gray-300">
      <thead class="rounded-full ">
        <tr class="bg-gray-100 border border-gray-300 text-gray-700 rounded-lg ">
          <th class="px-2 py-3 text-left">Date</th>
          <th class="px-2 py-3 text-left">Shop</th>
          <th class="px-2 py-3 text-left md:block hidden">Product</th>
          <th class="px-2 py-3 text-left">Category</th>
          <th class="px-2 py-3 text-left">Users</th>
          <th class="px-2 py-3 text-left">Amount</th>
          <th class="px-2 py-3 text-left md:block hidden">Action</th>
        </tr>
      </thead>
      <tbody class="text-gray-700 text-md animate__headShake animate__animated">
        <tr id="addRow"></tr>
        {{range .Expenses}}
        <tr id="expenseRow{{ .ID }}" class="border-b border-blue-gray-200 p-0 animate__animated">
          <td class="px-2 py-1 md:block hidden">{{ .Date.Format "02/01/06" }}</td>
          <td class="px-2 py-1 md:hidden">{{ .Date.Format "02/01 2006" }}</td>
          <td class="px-2 py-1 text-sm text-gray-500 ">{{.Shop}}</td>
          <td class="px-2 py-1 md:block hidden ">{{.Product }}</td>
          <td class="px-2 py-1">
            {{ $colors := nameToColor .Category.Name }}
            <span
              class='{{index $colors "bg" }} {{index $colors "txt" }} text-sm font-medium me-2 px-2.5 py-0.5 rounded'>{{.Category.Name}}</span>
          </td>
          <td class="px-2 py-1">
            {{range .Users}}
            {{ $userColor := nameToColor .TelegramUsername }}
            <span class='{{index $userColor "txt" }}'>{{.DisplayName}}</span>
            {{end}}
          </td>
          <td class="px-2 py-1">${{printf "%.2f" .Amount}}</td>
          <td class="px-2 py-1 md:block hidden">
            <button hx-get="/expenses/{{ .ID }}/edit" hx-target="#expenseRow{{.ID}}" hx-swap="outerHTML"
              hx-push-url="true" hx-trigger="click, click from:#editAll"
              class="font-small text-cyan-700 hover:text-cyan-500">
              Edit
            </button>
            <button id="deleteButton{{.ID}}" class="font-medium fade-me-out text-red-600 hover:text-red-800"
              hx-swap="innerHTML" hx-delete="/expenses/{{.ID}}" hx-target="#mitoast" _="on htmx:confirm(issueRequest)
             halt the event
             call Swal.fire({title: 'Confirm', text:'Delete expense. Are you sure ?'})
             if result.isConfirmed toggle .animate__fadeOut on #expenseRow{{.ID}} then wait 1s then issueRequest()">
              <i class='bx bx-trash'></i>
            </button>
            <div hx-trigger="deletedExpense-{{.ID}} from:body" hx-get="/empty" hx-target="#expenseRow{{.ID}}"></div>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

  <br>

  <!-- Pagination -->
  <!-- <div class="flex flex-col items-center"> -->
  <!--   <span class="text-sm text-gray-700 dark:text-gray-400"> -->
  <!--     Showing page <span class="font-semibold text-gray-900 dark:text-white">{{ .CurrentPage }}/{{ .TotalPages }}</span> -->
  <!--     (<span class="font-semibold text-gray-900 dark:text-white">{{ .PageSize }}</span> entries) -->
  <!--   </span> -->
  <!--   <div class="inline-flex mt-2 xs:mt-0"> -->
  <!--     <button hx-get="/expenses/table?page_num={{ .PrevPage }}" hx-swap="outerHTML" hx-target="#table" -->
  <!--       hx-include="#filters input" hx-vals='js:{categories: getSelectedCategories(), users: getFilteredUsers()}' -->
  <!--       class="flex items-center justify-center px-2 h-10 text-base font-medium text-white rounded-s {{ if eq .CurrentPage 0 }} bg-gray-500 {{else}} hover:bg-indigo-900 bg-indigo-500 {{end}}" -->
  <!--       {{ if eq .CurrentPage 0 }} disabled {{end}}> -->
  <!--       <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" -->
  <!--         viewBox="0 0 14 10"> -->
  <!--         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" -->
  <!--           d="M13 5H1m0 0 4 4M1 5l4-4" /> -->
  <!--       </svg> -->
  <!--       Prev -->
  <!--     </button> -->
  <!--     <button hx-get="/expenses/table?page_num={{ .NextPage }}" hx-swap="outerHTML" hx-target="#table" -->
  <!--       hx-include="#filters input" hx-vals='js:{categories: getSelectedCategories(), users: getFilteredUsers()}' -->
  <!--       class="flex items-center justify-center px-2 h-10 text-base font-medium text-white border-0 border-s border-gray-700 rounded-e {{ if eq .CurrentPage .TotalPages }} bg-gray-500 {{else}} hover:bg-indigo-900 bg-indigo-500 {{end}}" -->
  <!--       {{ if eq .CurrentPage .TotalPages }} disabled {{end}}> -->
  <!--       Next -->
  <!--       <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" -->
  <!--         viewBox="0 0 14 10"> -->
  <!--         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" -->
  <!--           d="M1 5h12m0 0L9 1m4 4L9 9" /> -->
  <!--       </svg> -->
  <!--     </button> -->
  <!--   </div> -->
  <!-- </div> -->
</div>
