<tr id="expenseRow{{ .ID }}" class="border-b border-blue-gray-200">
  <td class="py-3 px-4">{{ .Expense.Date.Format "02-01-2006" }}</td>
  <td class="py-3 px-4">{{.Expense.Shop}}</td>
  <td class="py-3 px-4">{{.Expense.Product }}</td>
  <td class="py-3 px-4">
    {{ $colors := nameToColor .Expense.Category }}
    <span
      class='{{index $colors "bg" }} {{index $colors "txt" }} text-sm font-medium me-2 px-2.5 py-0.5 rounded'>{{.Category}}</span>
  </td>
  <td class="py-3 px-4">${{printf "%.2f" .Expense.Amount}}</td>
  <td class="py-3 px-4">
    <button hx-get="/expenses/{{ .ID }}/edit" hx-target="#expenseRow{{.ID}}" hx-push-url="true" hx-swap="outerHTML"
      class="font-medium text-blue-600 hover:text-blue-800">Edit</button>
  </td>
</tr>
